.container {
  padding-bottom: 80px;
  background-color: #F3F1EB;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  width:100%;
}

.typeHeader {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 7px;
  padding-top: 3vh;
  background-color: #FDFAF0;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: none;
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  z-index: 998;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}


.typeButtons {
  display: flex;
  gap: 5px;
}

.filterButton {
  padding: 7px 10px;
  height: 100%;
  background-color: #fdb496;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 0.9rem;
}

.filterDropdown {
  position: fixed;
  top: 18vh;
  right: 55%;
  background-color: #FDFAF0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.filterContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
}

.customCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.filterLabel:hover .customCheckbox ~ .checkmark {
  border-color: #888;
}

.customCheckbox:checked ~ .checkmark {
  background-color: #fdb496;
  border-color: #fdb496;
}

.checkmark::after {
  content: '';
  position: absolute;
  display: none;
  left: 2px;
  top: 1px;
  width: 2px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckbox:checked ~ .checkmark::after {
  display: block;
}


.filterApplyButton {
  padding: 5px 10px;
  background-color: #778477;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
  font-style: bold;
}

.typeHeader::-webkit-scrollbar {
  display: none;
}

.typeButton {
  padding: 7px 15px;
  background-color: #F3F1EB;
  color: black;
  border: 1px solid #778477;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 0.9rem;
  flex: 0 0 auto;
}

.typeButton.active {
  background-color: #2B3133;
  color: white;
}

.dishesContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: calc(10vh + 60px);
  text-align: center;
}

.typeTitle {
  font-size: 3.5rem;
  margin-bottom: 20px;
  color: #2B3133;
  color: #617061;
  font-family: "Kelly Slab", serif;
  font-weight: 600;
  font-style: bold;
}

.typeTitle::first-letter {
  font-size: 3.7rem;
  color: #617061;
  color: #fdb496;
}

.dishesGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  text-align: center;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0 0 0.7rem #B1B4B1;
}

.dishImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item h2 {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.item p {
  margin: 5px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.button {
  padding: 5px 10px;
  background-color: none;
  color: #2b3133;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.9rem;
  width: 40%;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
  font-style: bold;
}

.addButton {
  padding: 3px 3px;
  background-color: #fdb496;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 90%;
  width: 15%;
}

.link {
  text-decoration: none;
  color: #2B3133;
}

.quantityButton {
  padding: 5px 7px;
  background-color: #778477;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Kelly Slab", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1rem;
}

.section_quantity {
  display: flex;
  gap: 10px;
  align-items: center;
}

.quantity {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .typeHeader {
    justify-content: flex-start;
  }
}

.searchContainer {
  position: relative;
  height: 80vh;
  background-color: #617061;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  box-shadow: 0 60px 0 0 #fdb496;
  box-shadow: 0 0 15rem #617061;
  border: none;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.searchOverlay {
  display: flex;
  background-color: none;
  padding: 11px 20px;
  border-radius: 17px;
  width: 30vh;
  max-width: 500px;
  text-align: center;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-shadow: 0 0 1rem #F1DBD2;
}

.searchInput {
  width: 80%;
  padding: 10px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  height: 5px;
  border: 2px solid #fdb496;
  background-color: #F3F1EB;
}

.p_menu {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 50px;
  font-size: 5rem;
  color: #F3F1EB;
  box-shadow: 0 0 1rem #F1DBD2;
}

.p_menu::first-letter {
  font-size: 5rem;
  color: #fdb496;
}

.border {
  border: 2px solid #fdb496;
  border-radius: 10px;
  padding: 10px 30px;
  height: 170px;
  margin-bottom: 7vh;
  box-shadow: 0 0 1rem #fdb496;
}

.searchBorder {
    border: 1px solid #fdb496;
    border-radius: 17px;
    padding: 13px 25px;
    box-shadow: 0 0 1rem #fdb496;
}

.searchContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.searchOverlay {
  position: relative;
  position: relative;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #FDFAF0;
  border: 1px solid #ccc;
  border-radius: 13px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1010;
  box-shadow: 0 0 1rem rgb(110, 121, 110);
  color: rgb(110, 121, 110);
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Amatic SC", serif;
  font-weight: 600;
  font-style: normal;
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.dishImage_search {
  width: 80%;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.link_search {
  color: rgb(110, 121, 110);
  text-decoration: none;
}