.nav {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}